@require "./include/variables.styl"
@require "./include/util-mixins.styl"

.page-grid-item
    &.section
        background-color: bg-colour[1]
        border: solid 1px alpha(white, 0.05)

        padding: spacing-size[2] spacing-size[3]
        border-radius: rounding-size[2]

        display: flex
        flex-direction: column
        align-items: center
        justify-content: center

    &.image
        fill: fg-colour[0]
        height: 2.5em
        width: auto
        .svg-icon
            &.svg
                height: 2.5em
                width: auto
            &.with-stroke
                stroke: fg-colour[0]

    &.title
        color: fg-colour[0]
        text-align: center

.index-page-motto
    &.section
        margin: spacing-size[7] 0 spacing-size[5] 0
    &.title
        margin: 0
        color: fg-colour[0]
        font-size: 2em
    &.subtitle
        margin-top: spacing-size[1]
        margin-bottom: 0
        font-size: 1.3em

.index-page-download
    &.section
        margin-top: spacing-size[4]
    &.button-icon
        margin-right: spacing-size[1]
        height: 2vh
        width: 2vh
    &.main-button
        &, &[href], &[href]:visited, &[href]:active, &[href]:focus
            display: flex
            width: fit-content
            align-items: center

            background-color: accent
            font-color: black
            font-weight: bolder

            padding: spacing-size[1] spacing-size[2]
            border-radius: rounding-size[1]
            margin-bottom: spacing-size[1]

            transition: background-color

            box-shadow: accent 0px 0px 4px

        &:hover, &[href]:hover
            hover-accent = tint(accent, 10%)
            background-color: hover-accent
            color: black
            box-shadow: hover-accent 0px 0px 6px

        .svg-icon.base, .svg-icon.svg
            height: 1.5em
            width: auto
            fill: black
        &-icon
            margin-right: spacing-size[0]
    &.sub-hyperlink
        font-size: 0.8em
