@require "./include/variables.styl"
@require "./include/util-mixins.styl"
@require "./text.styl"

page-horizontal-padding = spacing-size[5]

.page-main
    &.whole
        display: flex
        flex-direction: column
        min-height: 100vh
        background-color: bg-colour[0]
        color: fg-colour[1]
    &.content
        display: flex
        align-items: center
        justify-content: center

        flex: 1

.page-content.panel
    padding: spacing-size[4] page-horizontal-padding spacing-size[4] page-horizontal-padding
    flex: 1
    &.grid
        display: grid
        grid-template-columns: 1fr 1fr 1fr
        gap: spacing-size[5]

.page-header
    &.top
        display: grid
        grid-template-columns: 1fr auto
    &.panel
        z-index: 2
        padding: spacing-size[4] page-horizontal-padding spacing-size[6] page-horizontal-padding
        position: relative
        // Tilted background
        &::before
            content: ""
            background-color: bg-colour[1]
            transform: rotate(-1deg)

            position: absolute
            z-index: -1
            top: -50%
            left: -25%
            right: -25%
            // Since it goes outside
            bottom: 8px
    &.info
        font-color: fg-colour[1]
        cursor: default
        user-select: none

    &.logo
        width: min-content

        display: flex
        align-items: center
        flex-direction: row
        font-weight: bolder
        cursor: pointer

        &[href], &[href]:active, &[href]:visited, &[href]:focus
            font-color: fg-colour[1]
        &[href]:hover
            font-color: fg-colour[0]

        &-icon
            sizing: 35px
        &-text
            font-size: 1.3em
    //---- Menu
    &.nav-button
        display: inline-block
        &::marker
            display: none
    &.nav-link
        &, &[href]:visited, &[href]:active, &[href]:focus
            color: fg-colour[2]
            transition: color
            text-decoration: none
            padding: spacing-size[0] spacing-size[1]
            font-weight: bolder
            &.active
                color: fg-colour[1]
        &:hover, &[href]:hover, &.active:hover, &[href].active:hover
            color: fg-colour[0]
        // Don't change the colour on hover, only actionable things must have a transition
        &.disabled, &.disabled:hover, &.disabled[href]:hover
            color: fg-colour[2]
            opacity: 65%
            cursor: not-allowed
            
    //---- Dropdown
    &.nav-dropdown-content
        display: none
        position: absolute
        flex-direction: column
        list-style: none
        margin-block: 0
        padding: spacing-size[4] 0
        
        background-color: bg-colour[0]
        border-radius: rounding-size[2]
        border: solid 1px alpha(white, 0.05)
    &.nav-dropdown:hover &.nav-dropdown-content
        display: flex
            
.page-footer
    &.panel
        z-index: 2
        padding: spacing-size[6] page-horizontal-padding spacing-size[4] page-horizontal-padding
        position: relative
        display: flex
        justify-content: space-between
        align-items: center
        overflow: hidden

        // Tilted background
        &::before
            content: ""
            background-color: bg-colour[1]
            transform: rotate(-1deg)

            position: absolute
            z-index: -1
            top: 8px
            left: -25%
            right: -25%

            bottom: -50%

    &.footer-nav
        list-style: none
        padding: 0

    &.footer-credits
        padding-bottom: 1.5vh

    &.footer-disclaimers
        padding-top: 1.5vh

    &.footer-extra
        text-align: right

    p
        margin: auto

    h4
        margin: auto