@require "./variables.styl"

// Custom properties
sizing()
    width: arguments
    height: arguments
font-color()
    color: arguments
    fill: arguments
    transition: color, fill
vertical-prop(prop, args...)
    {prop}-top: args
    {prop}-bottom: args
horizontal-prop(prop, args...)
    {prop}-left: args
    {prop}-right: args
margin-vertical()
    vertical-prop('margin', arguments)
margin-horizontal()
    horizontal-prop('margin', arguments)

// Replace default properties
transition()
    fn = @transition-timing-function || ease-out
    duration = @transition-duration || default-transition-period
    transition-property: arguments
    transition-duration: duration
    transition-timing-function: fn