bg-colour = #0c0c0c #151515 #202020 //#131313 #202020 #353535
fg-colour = white #cfcfcf #a0a0a0

// Special colours
accent = #CC3333
accent-fg = tint(accent, 40%)
// theme-disabled = #906F6F
// theme-highlight = tint(theme, 30%)

guilded = #F5C400

// Padding and margin
spacing-size = 5px 10px 13px 16px 25px 35px 55px 70px
rounding-size = 2px 3px 5px

// Misc
default-font = Roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
default-transition-period = 0.2s