bg-colour = #131313 #202020 #353535
fg-colour = #dfdfdf #ccc #aaa

// Special colours
theme = #CC3333
theme-disabled = #906F6F
theme-highlight = tint(theme, 30%)

guilded = #F5C400

// Padding and margin
spacing-size = 6px 13px 16px 22px
rounding-size = 2px 3px 5px

// Misc
default-font = Roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
default-transition-period = 0.2s