@namespace ReGuilded.Shared.Svgs

<span class="@($"svg-icon base {Class}")">
    @{
        switch(Type)
        {
            case SvgIconType.Linux:
                <SvgLinux />
                break;
            case SvgIconType.Mac:
                <SvgMac />
                break;
            case SvgIconType.Windows:
                <SvgWindows />
                break;
            case SvgIconType.Themes:
                <SvgThemes />
                break;
            case SvgIconType.Addons:
                <SvgAddons />
                break;
            case SvgIconType.Sounds:
                <SvgSounds />
                break;
        }
    }
</span>

@code {
    [Parameter, EditorRequired]
    public SvgIconType? Type { get; set; }

    [Parameter]
    public string? Class { get; set; }
}