@require "../include/variables.styl"
@require "../downloads.styl"
@require "../index.styl"
@require "../main.styl"

body
    position: relative
    min-height: 100vh
    margin: 0
    padding: 0
    font-family: default-font
    font-weight: 400
    overflow-x: hidden