@using Microsoft.AspNetCore.Components.Web
@namespace ReGuilded.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="~/favicon.png" />
    <title>ReGuilded</title>

    @* Meta *@
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="description" content='@ViewData["Description"]' />
    <meta name="keywords" content='@ViewData["Keywords"]' />
    <meta name="theme-color" content="#cc3333" />

    @* OpenGraph Meta *@
    <meta name="og:image" content="~/img/Logo.png" />

    @* Styles *@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/fontawesome.css" asp-append-version="true">
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
    
    @* // Include Prism.JS // *@
</head>

<body>
    @RenderBody()

    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="_framework/blazor.server.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>