@page
@model DownloadsModel
@using ReGuilded.Pages.Util;
@{
    ViewData["Title"] = "Downloads";
    ViewData["Description"] = "ReGuilded is a client injector/client mod that allows you to extend the functionality of Guilded's client by providing theme and add-on support.";
    ViewData["Keywords"] = "reguilded,guilded,client,mod,themes,addons,download";
}

<section id="splash">
    <img class="banner" src="~/img/Banner.png" alt="ReGuilded Banner">
</section>

<section id="download">
    <h2>Downloads</h2>
    <ul class="downloads">
        @if (Model.FetchedDownloads == null || Model.FetchedDownloads.Count == 0 || Model.InternalServerError) {
            <li class="download-item">
                <p>Internal Server Error</p>
            </li>
        } else {
            @foreach (FetchedDownload fetchedDownload in Model.FetchedDownloads) {
                <li id="@fetchedDownload.Platform" data-tilt class="download-item">
                    <img src="img/platforms/@(fetchedDownload.Platform).svg" alt="@fetchedDownload.DisplayName Logo">
                    <h3>@fetchedDownload.DisplayName</h3>
                    <a class="download-link" href="@fetchedDownload.DownloadUrl"><button class="download-button">Download</button></a>
                </li>
            }
        }
    </ul>
</section>

@* <section id="roadmap"> *@
@*     <ul> *@
@*          *@
@*     </ul> *@
@* </section> *@

@section Styles {
    <link href="~/css/downloads.css" rel="stylesheet" asp-append-version="true"/>
}

<script type="text/javascript" src="~/js/vanilla-tilt.js" asp-append-version="true"></script>