@page "/downloads"
@using ReGuilded.Pages.Util
@layout DownloadsLayout
@inject IStringLocalizer<ReGuildedLang> _loc;

<PageTitle>@(_loc["Downloads/Page-Title"]) | ReGuilded</PageTitle>

@if (_fetchedDownloads == null || _fetchedDownloads.Count == 0)
    {
        <p>@_loc["Downloads/InternalServerError"]</p>
    }
    else
    {
        @* Add download for each platform *@
        @foreach (var fetchedDownload in _fetchedDownloads)
        {
            <DownloadItem DownloadObject="@fetchedDownload"></DownloadItem>
        }
    }

@code
{
    private List<FetchedDownload>? _fetchedDownloads;

    protected override async Task OnInitializedAsync()
    {
        _fetchedDownloads = await GithubUtil.FetchedDownloads();
    }
}
