@page "/downloads"
@using ReGuilded.Pages.Util
@using System.Diagnostics
@layout DownloadsLayout
@inject IStringLocalizer<ReGuildedLang> _loc;
@inject IHttpContextAccessor HttpContextAccessor

<PageTitle>@(_loc["Downloads/Page-Title"]) | ReGuilded</PageTitle>

@if (FetchedDownloads == null || FetchedDownloads.Count == 0)
    {
        <p>@_loc["Downloads/InternalServerError"]</p>
    }
    else
    {
        @* Add download for each platform *@
        @foreach (var fetchedDownload in FetchedDownloads)
        {
            <DownloadItem DownloadObject="@fetchedDownload"></DownloadItem>
        }
    }

@code {

    [CascadingParameter]
    public List<FetchedDownload>? FetchedDownloads { get; set; }

    protected override void OnInitialized() {
        var userAgent = HttpContextAccessor.HttpContext?.Request.Headers["User-Agent"].ToString() ;

        var platformName = userAgent.Contains("Linux") ? "linux"
                            : userAgent.Contains("Mac") ? "mac" : "windows";

        var platformDownloadIndex = FetchedDownloads.FindIndex(download => download.Platform == platformName);
        var platformDownload = FetchedDownloads[platformDownloadIndex];
        FetchedDownloads.RemoveAt(platformDownloadIndex);
        FetchedDownloads.Insert(1, platformDownload);
    }

}