@page "/downloads"
@using ReGuilded.Pages.Util

<PageTitle>Downloads</PageTitle>

<section class="download-page section">
    <h3 class="download-page header">Downloads</h3>
    <div class="download-page content">
        @* If no downloads were fetched, output it as an error *@
        @if (_fetchedDownloads == null || _fetchedDownloads.Count == 0)
        {
            <p>Internal Server Error</p>
        }
        else
        {
            @* Add download for each platform *@
            @foreach (FetchedDownload fetchedDownload in _fetchedDownloads)
            {
                <DownloadItem DownloadObject="@fetchedDownload"></DownloadItem>
            }
        }
    </div>
</section>

@code
{
    private List <FetchedDownload>? _fetchedDownloads;

    protected override async Task OnInitializedAsync()
    {
        _fetchedDownloads = await GithubUtil.FetchedDownloads();
    }
}
