@page "/downloads"
@using ReGuilded.Pages.Util
@using System.Diagnostics
@layout DownloadsLayout
@inject IStringLocalizer<ReGuildedLang> _loc;

<PageTitle>@(_loc["Downloads/Page-Title"]) | ReGuilded</PageTitle>

@if (FetchedDownloads == null || FetchedDownloads.Count == 0)
    {
        <p>@_loc["Downloads/InternalServerError"]</p>
    }
    else
    {
        @* Add download for each platform *@
        @foreach (var fetchedDownload in FetchedDownloads)
        {
            <DownloadItem DownloadObject="@fetchedDownload"></DownloadItem>
        }
    }

@code {

    [CascadingParameter]
    public List<FetchedDownload>? FetchedDownloads { get; set; }

    protected override void OnInitialized() {
        Debug.WriteLine(FetchedDownloads?.Count);
    }

}