@page "/downloads"
@using ReGuilded.Pages.Util

<PageTitle>Downloads</PageTitle>

<section class="download-page section">
    <h3 class="download-page header">Downloads</h3>
    <div class="download-page content">
        @* If no downloads were fetched, output it as an error *@
        @* @if (Model.FetchedDownloads == null || Model.FetchedDownloads.Count == 0 || Model.InternalServerError)
        {
            <p>Internal Server Error</p>
        }
        else
        {
            @* Add download for each platform * @
            @foreach (FetchedDownload fetchedDownload in Model.FetchedDownloads)
            {
                <div class="download-page item">
                    <img class="download-page item-icon" src="img/platforms/@(fetchedDownload.Platform).svg" alt="@fetchedDownload.DisplayName Logo">
                    <h3 class="download-page item-title">@fetchedDownload.DisplayName</h3>
                    <a class="download-page item-button" href="@fetchedDownload.DownloadUrl">Download</a>
                </div>
            }
        } *@
    </div>
</section>