@page
@model TestWeb.Pages.ErrorModel

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Error</title>
</head>

<body>
    <h1>Error</h1>
    <p>An error occurred while processing your request.</p>

    @if (Model.ShowRequestId) {
        <p><strong>Request ID:</strong> <code>@Model.RequestId</code></p>
    }
</body>

</html>
