@page "/"
@using ReGuilded.Shared
@layout IndexLayout

<PageTitle>Home</PageTitle>

<IndexPageFeature Title="Themes" Image="paintbrush">
    <p>Change the look of Guilded's UI using unrestricted CSS.</p>
</IndexPageFeature>

<IndexPageFeature Title="Addons" Image="puzzle-piece">
    <p>Add additional content, change UI components or run any kind of code in Guilded.</p>
</IndexPageFeature>

<IndexPageFeature Title="Sound packs" Image="volume-high">
    <p>Change or add sounds to your Guilded app.</p>
</IndexPageFeature>