@page
@model IndexModel
@{
    ViewData["Title"] = "ReGuilded";
    ViewData["Description"] = "ReGuilded is a client injector/client mod that allows you to extend the functionality of Guilded's client by providing theme and add-on support.";
    ViewData["Keywords"] = "reguilded,guilded,client,mod,themes,addons";
}

<section id="splash">
    <img class="banner" src="~/img/Banner.png" alt="ReGuilded Banner">
</section>

<section class="question">
    <h2>What is <span class="text-themed">ReGuilded</span>?</h2>
    <p>It is something for sure</p>
    @* Add more sections, polish it up *@
</section>

@* <section id="roadmap"> *@
@*     <ul> *@
@*          *@
@*     </ul> *@
@* </section> *@

@section Styles {
    <link href="~/css/index.css" rel="stylesheet" asp-append-version="true"/>
}