@page "/"
@using ReGuilded.Shared

<IndexPageQna Question='What is "ReGuilded"?'>
    <p>ReGuilded — An unofficial client injector or mod that extends the functionality of Guilded's official client. It allows users to create "enhancements" for Guilded.</p>
</IndexPageQna>

<IndexPageQna Question='What are "enhancements" and what do they do?'>
    <p>ReGuilded enhancements are items, files, pieces of code or anything that changes how Guilded's client works. This includes themes, addons and sound packs:</p>
    <ul>
        <li>Themes — enhancements that allow you to change the design of Guilded client by adding their own CSS on top of Guilded's already existing CSS</li>
        <li>Addons — enhancements that allow to change how code of Guilded's client works by executing addon's JavaScript</li>
        <li>Sound packs — enhancements that allow changing existing Guilded's sounds or adding them to specific events in Guilded's client</li>
    </ul>
</IndexPageQna>

<IndexPageQna Question="Where can I download ReGuilded?">
    <p>It is available in <a href="/downloads">downloads page</a> or in <a href="https://github.com/ReGuilded/ReGuilded/releases">ReGuilded's GitHub repository</a></p>
</IndexPageQna>

@* @section Styles {
    <link href="~/css/index.css" rel="stylesheet" asp-append-version="true"/>
} *@