@page
@model IndexModel
@{
    ViewData["Title"] = "ReGuilded";
    ViewData["Description"] = "ReGuilded is a client injector/client mod that allows you to extend the functionality of Guilded's client by providing theme and add-on support.";
    ViewData["Keywords"] = "reguilded,guilded,client,mod,themes,addons";
}

<section id="splash">
    <img src="~/img/Banner.png" alt="ReGuilded Banner">
</section>

<section id="download">
    
</section>