@inherits LayoutComponentBase
@inject IStringLocalizer<ReGuildedLang> Loc;

<main id="page" class="page-main whole">
    @* Top *@
    <PageHeader />

    @* Main stuff *@
    <div class="page-main content">
        <article class="page-content panel grid">
            @Body
        </article>
    </div>
    
    @* Bottom *@
    <PageFooter />
</main>