@namespace ReGuilded.Shared

<section class="index-page-feature section">
    @if (Image is not null)
    {
        <object class="index-page-feature image" data="img/Enhancements/@(Image).svg" alt="@Image Image"></object>
    }
    <h3 class="index-page-feature title">@Title</h3>
    <div class="index-page-feature description">
        @ChildContent
    </div>
</section>

@code {
    [Parameter]
    public string? Image { get; set; }

    [Parameter, EditorRequired]
    public string? Title { get; set; }

    [Parameter, EditorRequired]
    public RenderFragment? ChildContent { get; set; }
}
