@inherits LayoutComponentBase
@inject IStringLocalizer<ReGuildedLang> _loc;
@inject IJSRuntime _jsRuntime;

<main id="page" class="page-main whole">
    @* Top *@
    <PageHeader>
        <section class="index-page-motto section">
            <h1 class="index-page-motto title">@_loc["IndexLayout/Motto/Title"]</h1>
            <p class="index-page-motto subtitle">@_loc["IndexLayout/Motto/Subtitle"]</p>
        </section>
        <section class="index-page-download section">
            <a class="index-page-download main-button" href="/"><i class="index-page-download button-icon fa-brands fa-windows"></i>@string.Format(_loc["IndexLayout/QuickDownload/DownloadForPlatform"], Platform)
            </a>
            <a class="index-page-download sub-hyperlink" href="/downloads">@string.Format(_loc["IndexLayout/QuickDownload/NotUsingPlatform"], Platform)</a>
        </section>
        
        <CultureSelector />
    </PageHeader>

    @* Main stuff *@
    <div class="page-main content">
        <article class="page-content panel grid">
            @Body
        </article>
    </div>
    
    @* Bottom *@
    <PageFooter />
</main>

@code 
{ 
    private const string Platform = "Unset Platform";
}