@inherits LayoutComponentBase

<main id="page" class="page-main whole">
    @* Top *@
    <PageHeader />

    <div class="page-main content">
        <article class="page-content panel">
            @Body
        </article>
    </div>
    
    @* Bottom *@
    <PageFooter />
</main>