@inherits LayoutComponentBase

<main id="page" class="page-main whole">
    @* Top *@
    <PageHeader />

    <div class="page-main content">
        <article class="page-content panel">
            @Body
        </article>

        <footer class="page-footer panel">
            <span class="page-footer copyright">&copy;@DateTime.Now.Year All Rights Reserved - ReGuilded</span>
            <span>&nbsp;•&nbsp;</span>
            <span class="page-footer disclaimer">Not affiliated with <a href="https://guilded.gg">Guilded Inc.</a></span>
        </footer>
    </div>
</main>