@namespace ReGuilded.Shared
@using ReGuilded.Shared.Svgs

<section class="page-grid-item section">
    @if (Image is not null) {
        <div class="page-grid-item image">
            <SvgIcon Type="@(Image)" Class="page-grid-item image-svg" />
        </div>
        @* <object class="page-grid-item image" data="img/@(Image).svg" alt="@Image Image"></object> *@
    }
    <h3 class="page-grid-item title">@Title</h3>
    <div class="page-grid-item description">
        @ChildContent
    </div>
</section>

@code {
    
    [Parameter]
    public SvgIconType? Image { get; set; }

    [Parameter, EditorRequired]
    public string? Title { get; set; }

    [Parameter, EditorRequired]
    public RenderFragment? ChildContent { get; set; }
    
}
