<header class="page-header panel">
    <div class="page-header top">
        <aside class="page-header logo" href="/">
            <svg class="page-header logo-icon" viewBox="0 0 152 152" xmlns="http://www.w3.org/2000/svg">
                <path d="M135.5 46L116.5 64V56H108V36H116.5V28L135.5 46Z" />
                <path d="M53.4 80.2C49.7813 72.6178 47.7094 64.391 47.3047 56H80V36H25C25 59.8 30 77.5 34.8 87.3C42.3 102.5 53.6 116 74.7 124.6H75.3C88.0098 119.815 99.0808 111.486 107.2 100.6C114.472 90.4851 119.578 78.9785 122.2 66.8H63C64 75.2 68 82.4 73.2 86.8H93.1C89.2 93.2 82.2 99.2 75 102.7C68 99.7 59.5 92.1 53.4 80.2Z" />
                <path d="M104 56H84V36H104V56Z" />
            </svg>
            <span class="page-header logo-text">ReGuilded</span>
        </aside>
        <nav class="page-header nav">
            @* TODO: For looping *@
            <li class="page-header nav-button">
                <NavLink ActiveClass="active" class="page-header nav-link" href="/" Match="NavLinkMatch.All">Home</NavLink>
            </li>
            <li class="page-header nav-button">
                <NavLink ActiveClass="active" class="page-header nav-link" href="downloads">Downloads</NavLink>
            </li>
            <li class="page-header nav-button disabled">
                <NavLink ActiveClass="active" class="page-header nav-link disabled" href="themes" onclick="return false">Themes</NavLink>
            </li>
            <li class="page-header nav-button disabled">
                <NavLink ActiveClass="active" class="page-header nav-link disabled" href="addons" onclick="return false">Addons</NavLink>
            </li>
            <li class="page-header nav-button disabled">
                <NavLink ActiveClass="active" class="page-header nav-link disabled" href="sounds" onclick="return false">Sound packs</NavLink>
            </li>
        </nav>
    </div>

    @if (ChildContent is not null)
    {
        <section class="page-header additional">
            @ChildContent
        </section>
    }
</header>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}
