@using ReGuilded.Resources
@using ReGuilded.Shared.Svgs
@inject IStringLocalizer<ReGuildedLang> _loc;

<header class="page-header panel">
    <div class="page-header top">
        <aside class="page-header info">
            <a class="page-header logo" href="/">
                <SvgReGuilded />
                <span class="page-header logo-text">ReGuilded</span>
            </a>
        </aside>
        <nav class="page-header nav">
            @* TODO: For looping *@
            <li class="page-header nav-button">
                <NavLink ActiveClass="active" class="page-header nav-link" href="/" Match="NavLinkMatch.All">@_loc["PageHeader/Home"]</NavLink>
            </li>
            <li class="page-header nav-button">
                <NavLink ActiveClass="active" class="page-header nav-link" href="downloads">@_loc["PageHeader/Downloads"]</NavLink>
            </li>
            @* <li class="page-header nav-dropdown"> *@
            @*     <NavLink ActiveClass="active" class="page-header nav-link" href="/" Match="NavLinkMatch.All">@_loc["PageHeader/Home"]</NavLink> *@
            @* </li> *@
            @* TODO: Drop-down  *@
            <li class="page-header nav-button disabled">
                <NavLink ActiveClass="active" class="page-header nav-link disabled" href="enhancements" onclick="return false">@_loc["PageHeader/Enhancements"]</NavLink>
            </li>
        </nav>
    </div>

    @if (ChildContent is not null) {
        <section class="page-header additional">
            @ChildContent
        </section>
    }
</header>

@code {
    
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
    
}
